@import "tailwindcss";

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.addtask-btn{
  background: linear-gradient(to top,#065ddf,#1054c9);
}

button{
  transition: all 0.2s linear;
 
}

button:active{
  scale:0.85,
}

.navLinks{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 61% 76%, 50% 100%, 37% 75%, 0% 75%);
  
  background: linear-gradient(to top,#065ddf,#1054c9);
  color: white;
  font-size: 12px;
  padding: 7px 10px;
 padding-bottom: 18px;
}